
ThermalDotNet/ThermalDotNet.pidb

ThermalPrinterTestApp/ThermalPrinterTestApp.pidb

ThermalDotNet.userprefs

ThermalPrinterTestApp/bin/Debug/ThermalPrinterTestApp.exe.mdb

ThermalPrinterTestApp/bin/Debug/ThermalPrinterTestApp.exe

ThermalPrinterTestApp/bin/Debug/ThermalDotNet.dll.mdb

ThermalPrinterTestApp/bin/Debug/ThermalDotNet.dll

ThermalDotNet/bin/Debug/ThermalDotNet.xml

ThermalDotNet/bin/Debug/ThermalDotNet.dll.mdb

ThermalDotNet/bin/Debug/ThermalDotNet.dll

ThermalPrinterTestApp/bin/Release/ThermalDotNet.dll

ThermalPrinterTestApp/bin/Release/ThermalPrinterTestApp.exe

ThermalDotNet/obj/Release/ThermalDotNet.csproj.FilesWrittenAbsolute.txt

ThermalDotNet/obj/Release/ThermalDotNet.dll

ThermalPrinterTestApp/obj/x86/Release/ThermalPrinterTestApp.exe

ThermalPrinterTestApp/obj/x86/Release/ThermalPrinterTestApp.csproj.FilesWrittenAbsolute.txt

/.vs
/ThermalDotNet/obj
/ThermalPrinterTestApp/obj/x86
/ThermalDotNet/ThermalDotNet.csproj.user
/ThermalPrinterTestApp/ThermalPrinterTestApp.csproj.user
/ThermalDotNet/bin/Debug
/ThermalPrinterTestApp/bin/Debug
